@charset "UFT-8";
/* base_code_layout_02.css */

#warp{width:960px; height:1200px;}

#headbox{width:960px; height:120px; color:#fff;
font-size:3rem; background-color:#f0c;}
#viewbox{width:960px; height:450px; color:#fff; font-size:3rem; background-color:#fb3;}

#contentbox{width:960px; height:500px; color:#fff;font-size:3rem; background-color:#1af;}

.lnb_first{width:960px; height:500px;
background-color:#44f;}
>.aa{width:200px; height:100px;}
>.bb{width:200px; height:100px;}
>.cc{width:200px; height:100px;}
>.dd{width:200px; height:100px;}



.lnb_list{width:760px; height:200px;
  background-color:#682; float:right;}

.lnb_content{width:760px; height:300px;
  background-color:#167; float:right;}
    .one{width:380px; height: 300px;
     background-color:#fe7; float:left;}
    .two{width:380px; height: 300px;
     background-color:#a71; float:left;}

#footbox{width:960px; height:130px; color:#fff; font-size:3rem; background-color:#777;}
