@charset "UTF-8" ;
/* css_basic_01.css */

.size_check{width:800px; height:800px; margin:auto; margin-bottom:800px; background-color:#ccc;}

.size_check > p {width:500px; height:auto; background-color:#0ac;}

/* 
단위: 1cm = 10mm = px 임의 단위는 있다
참고주소 (http://endmemo.com/sconvert/millimeterpixel.php)
 최초의 기본설정에서 (16px = 12pt = 100% = 1em = 1rem)
 */

h3{margin:0; padding: 1rem; background-color:#fff;}

.size_check>ul{margin:0; padding:0; width:100%; height:300px; background-color: #fa0;}
.size_check>ul>li{float:left; width:50px; height:50px; border-width: :5px; border-style:solid; border-color:#333; text-align:center; line-height:50px; list-style:none;}

/* 
display:속성은 형태를 변형처리할 때 사용.
          block 크기를 가짐, 아래로 쌓인다.
          inline 옆으로 나열됨, 크기를 가질 수 없다.
          inline-block 크기와 옆으로 나열, 알 수 없는 공백
          none 강제로 사라지게 만드는 기능

float: 옆으로 나열하게 만드는 기능
     : inline 요소일 경우 float을 사용하면 강제로 block 요소로 변경됨
          left 부모의 크기를 기준으로 왼쪽부터 정렬 
          right 부모의 크기를 기준으로 오른쪽부터 정렬

visibility : display 속성과 유사
            visible(display:block과 같이 보여지게 만드는 기능)
            hidden(display:none과 같이 사라지는 기능
                  display와 다르게 내용은 삭제되지만 공간은 남아있다.)

블럭요소에 블럭 줄 필요없음.
*/

.size_check>ul>li:first-child{background-color:#f07;}
.size_check>ul>li:nth-child(2){display:none; background-color:rgb(33, 94, 56);}
.size_check>ul>li:nth-child(3){background-color:rgb(0, 132, 255);}
.size_check>ul>li:nth-child(4){visibility:visible; background-color:rgb(255, 240, 36);}
.size_check>ul>li:nth-child(5){visibility:hidden; background-color:rgb(255, 240, 36);}

.over{width:80%; min-width:500px; height:auto; background-color: #0df; padding:1rem; box-sizing:border-box;}

.over>p{margin:auto; margin-bottom:400px; width:450px; height:200px; border-width:2px; border-style:solid; border-color:#fa0;}

.one{overflow:auto;}
.two{overflow:hidden;}
.three{overflow: visible;}
.four{overflow:scroll;}
.five{overflow:auto; overflow-x:hidden;}

.six{overflow: hidden;}
/* 스크롤은 되지만 스크롤바 안 보이게 */
.six>span{padding-right:20px; display:block; overflow:hidden; overflow-y:auto; width:100%; height:100%; background-color: #fff;}

/* 상위 태그가 먼저 적용되기에 .over를 따로 붙임 */
.over>.seven{height:30px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

/* white-space : 임의 공백이 아닌, 의도하지 않은 공백을 처리하는 방법 
           pre : 실제 코드에서 작성한 형태로 공백을 줄 때.
      pre-line : 실제 코드에서 작성한 줄바꿈처리와 동일하게 함.
        nowrap : 여백을 모두 삭제
         unset : 기본, 크기에 맞춰서 줄바꿈
 text-overflow : overflow와 유사하지만, 넘치는 영역이 글자일 경우에 처리방법.
                일반적으로는 overflow와 함께 사용
       ellipsis: 넘칠 경우 말줌일표를 처리
         unset : 기본형으로 처리
*/


/* overflow: 지정된 크기를 기준으로 내부의 영역이 넘친다면, 어떻게 처리할 것인가를 판단하는 내용
          hidden 지정된 칸에 맞춰서 숨김
          visible (기본형) 넘칠 때 지정된 칸에 다 보이게
          auto 알아서 자동으로
          scroll 스크롤 바가 생기게
*/
