@charset "UFT-8";
/* layout_basic_01.css */

/* reset */
html,body,h1,h2,h3,h4,h5,h6,hr{margin:0; padding:0; border:0; behavior: url(../ie/PIE/PIE.htc);}
hr{border-top:1px solid #333;}
header, nav, main, footer, article, section, aside, container{display:block;}

/* design */
body{background-color:#337;}
h1,h2{background-color:#fff; text-align:center;}
h1>a{color:inherit;}
hr{border-color:#fff;}

#box{margin:100px auto; width:600px; height:auto;}

#headBox{width:100%; height:100px; text-align:center; color:#fff; background-color:#b2d;}

#mainBox{width:100%; height:auto; text-align:center; color:#fff;}
#main:after, main::after{content:""; display:block; width:0; height:0; clear:both;}
.con_warp{float:left; width:70%; height:300px; background-color:#fff;}

  .article_area{width:100%; height:150px; background-color:#abc;}
  .container_area{width:100%; height:150px; background-color:#f7f;}

.side_area{width:30%; height:300px; background-color:#757; float:right;}

#footBox{width:100%; height:100px; text-align:center; color:#fff; background-color:#15f}




/* 자식태그 값 있는 상태에서 부모태그 가로값 auto할 때 :after 쓴다. */

/* 가로 or 세로 나눌 때
    1. %로 값을 줄 때 소수점은 적어도 6자리까지는 줘야한다. 티 안나게! 그 중 한 개는 4로 변경. 0.333334%
    2. calc(100% / x) 이 태그는 IE 하위 버전에서는 작동되지 않음.
    
      .side_area{width:-webkit-calc(100% / 3); /* chrome, safari, vivaldi, chromium edge */
             width:-moz-calc(100% / 3); /* fire fox */
             width:-ms-calc(100% / 3); /* microsoft : IE, edge */
             width:-o-calc(100% / 3); /* opera */
             width:calc(100% / 3); /* 공용 */
             width:calc(100% / 3); height:300px; background-color:#757; float:left;} */




/* 벤더 프리픽스 : 아직 권고에 들지 못 하는(표준으로 승인되지 않은) 기능들을
                  각 브라우저에서 사용할 수 있도록 내장되어 있다면, 이를 강제로 쓰게 만드는 기능 */


